/* ContactPage.css */

.contact-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.7959558823529411) 0%, rgba(189,224,254,0.6727065826330532) 50%, rgba(255,255,255,1) 100%);}

.contact-header {
  text-align: center;
  padding: 20px 0;
  width : 100% ;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.contact-left-section {
  flex: 1;
  padding-right: 80px;
}
.contact-left-section h2 {
  font-family: 'Titillium web', sans-serif;
  font-size: 45px ;
  font-weight: 600;
  letter-spacing: 1.5px ;
}
.contact-left-section p {
 font-family: 'Titillium web', sans-serif;
 font-size: 20px ;
 font-weight: 400;
 letter-spacing: 1px ;
}

.contact-right-section {
  flex: 1;
  padding-left: 80px;
  border-left: 1px solid #ddd;
}
.contact-right-section h2 {
  font-family: 'Titillium web', sans-serif;
  font-size: 45px ;
  letter-spacing: 1.5px;
  font-weight:600;
}
.contact-info {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding : 5px ;
}
.contact-info a {
  padding : 5px ;
  color : #212529 ;
}
.contact-item p {
  padding : 5px;
  font-family: 'Titillium web', sans-serif;
  font-size: 17px;
}

.contact-item span {
  margin-right: 10px;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding : 5px;
}

