.footer {
  background-color: #1a1a1a;
  color: #e1e1e1;
  padding: 40px 20px;
  display: grid;
  margin: auto;
  width : 100% ;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px; /* Add space between grid items */
  font-family: "Titillium web", sans-serif;
}

/* Branding Section */
.branding  {
  display: auto;
  margin: auto;
}
.branding .footer-logo {
  width: 25%;
  height: auto;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 1rem;
  margin: 10px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons i {
  font-size: 1.5rem;
  color: #e1e1e1;
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  transition: color 0.3s;
  width : 40px;
}

.social-icons i:hover {
  color: #3772ff;
}

/* Links and Formations Sections */
.links {
  display: auto;
  margin: auto;
}
.links h4, .formations h4, .newsletter h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.links ul, .formations ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}

.links li, .formations li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px 0;
  transition: color 0.3s, transform 0.3s;
}

.links li:hover, .formations li:hover {
  color: #3772ff;
  transform: translateX(5px);
}
.formations {
  display: block ;
  margin: auto;
}

/* Footer Bottom Section */
.footer-bottom {
  grid-column: 1 / -1; /* Spans the entire footer width */
  display: flex;
  width : 100% ;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}
.footer-bottom img{
 width : 162px ;
 height : 108px ;
}

.qualiopi-logo {
  display : flex ;
  justify-content : center ;
  align-items : center ;
  height: 160px;
  width: 20%;
  padding : 10px ;

}