/* General Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(45deg, rgba(189, 224, 254), rgba(189, 224, 254));
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}

.navbar-logo img {
  position: relative;
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
}

.navbar-logo img:hover {
  transform: rotate(19deg) scale(1.1);
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  transition: all 0.3s ease;
  width : auto;
}

.nav-item:hover {
  color: #3772ff;
  transform: scale(1.1);
}

.navbar .navbar-links .dropdown {
  position: absolute;
  width: 400px ;
  top: 100%;
  left: 0;
  background: #fff; /* Fully opaque background */
  padding: 1rem;
  opacity: 1; /* Ensure full opacity */
  border-radius: 10px;
  transform: translateY(-10px);
  animation: dropdownFadeIn 0.3s forwards;
}
.dropdown-item {
  color: #212529 ;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #3772ff;
  border-radius: 5px;
  transform: scale(1.05);
}
 img{
  width : 30% ;
  transition: all 0.3s ease;
}

/* img:hover {
  transform: scale(1.75);

} */



/* Keyframe Animations */
@keyframes dropdownFadeIn {
  from {
    opacity: 1;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}